@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400&display=swap');

* {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
  text-decoration: none !important;
}

.home {
  flex-wrap: wrap;
}

/* produksiya */

.pr,
.uslugalar h1,
.aboutCompany h1 {
  color: #0D4C93;
  font-size: 40px;
}
@media (max-width: 576px){
  .pr, .uslugalar h1, .aboutCompany h1 {
  font-size: 28px;
}
}



